<form name="form" class="form-horizontal" role="form">
    <div class="form-group">
        <label for="" class="col-sm-2 control-label">Company Name</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="" placeholder="Company Name" ng-model="Customer.CompanyName">
        </div>
    </div>

    <div class="form-group">
        <label for="" class="col-sm-2 control-label">Contact Name</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="" placeholder="Contact Name" ng-model="Customer.ContactName">
        </div>
    </div>

    <div class="form-group">
        <label for="" class="col-sm-2 control-label">State</label>
        <div class="col-sm-10">
            <select ng-model="Customer.State" ng-options="Customer.State.StateID as Customer.State.StateName for Customer in Customers"></select>
        </div>
    </div>

    <div class="form-group">
        <label for="" class="col-sm-2 control-label">Address</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="" placeholder="Address" ng-model="Customer.Address">
        </div>
    </div>

    <div class="form-group">
        <label for="" class="col-sm-2 control-label">City</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="" placeholder="City" ng-model="Customer.City">
        </div>
    </div>

    <div class="form-group">
        <label for="" class="col-sm-2 control-label">Email</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="" placeholder="Email" ng-model="Customer.Email">
        </div>
    </div>

    <div class="form-group">
        <label for="" class="col-sm-2 control-label">Phone</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="" placeholder="Phone" ng-model="Customer.Phone">
        </div>
    </div>

    <div class="form-actions">
        <button ng-click="save()" class=" btn btn-primary">
            Submit
        </button>
        <a href="#/" class="btn">Cancel</a>
    </div>
</form>
