<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>

<script src="~/Scripts/jquery-2.1.1.js"></script>
  <script src="~/Scripts/angular.js"></script>
    <script src="~/Scripts/angular-route.js"></script>
    <script src="~/Scripts/angular-resource.js"></script>
    <script src="~/Scripts/Custom/CustomerApp.js"></script>
    <div class="container">
        <div ng-view></div>
    </div>

<script>

    $(function () {
        alert('ready');
    })
</script>
</body>
</html>
