@section Scripts {

}
<script src="~/Scripts/jquery-2.1.1.js"></script>
<script src="~/Scripts/angular.js"></script>
<script src="~/Scripts/angular-route.js"></script>
<script src="~/Scripts/angular-resource.js"></script>
<script src="~/Scripts/Custom/CustomerApp.js"></script>
<section ng-app="CustomerApp">
    <div class="container">
        <div ng-view></div>
    </div>
    
</section>
